*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}

body{
    background:#0f0f0f;
}

@keyframes LogoAnimation{
    0%{filter: opacity(100%);}
    50%{filter: opacity(80%);}
    100%{filter: opacity(100%);}
}

header{
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    background: rgba(160, 160, 160, 0.5);
    backdrop-filter: blur(3px);

    div{
        height: 100%;
        width: 85%;
        margin: 0 auto;
        display: flex;

        .logo{
            width: 150px;
            height: 50px;
            animation: LogoAnimation 2s infinite linear;
    
            a{
                width: 100%;
                height: 100%;
    
                img{
                    width: 100%;
                    height: 100%;
                    margin: 5px;
                }
    
            }
    
        }   
    
        .blank{
            width: 2%;
            height: 100%;
            margin: 0;
        }

        nav{
            display: flex;

            p{
                padding: 0 20px;
                font-size: 21.5px;
                line-height: 60px;

                a{
                    transition: .4s;
                    color: #fff;
                    text-decoration: none;

                    &:hover{
                        transition: .4s;
                        color: rgba(255, 255, 255, 0.75);
                        text-decoration: underline;
                    }

                }

            }

        }

    }

}

.work{
    margin: 0 auto;
    width: 55%;
    height: fit-content;

    a{

        img{
            width: 100%;
            height: 100%;
            border-radius: 15px;
            box-shadow: 15px 15px 20px #000000a8;
        }

    }

}

.recommendation{
    width: 55%;
    height: fit-content;
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto;
    background: white;
    border: 2px solid black;

    .p{
        font-size: 25px;
        margin: 0 auto;
        width: fit-content;
    }

    hr{
        margin: 10px 0;
        border: none;
        height: 2px;
        width: 100%;
        background: black;
    }

    .link{
        font-size: 21px;
        margin: 10px 0;
        display: flex;
        
        a{
            color: #1a73e8;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }

            &:visited{
                color: blue;
            }

        }

        span{
            margin: 0 auto;
            margin-right: 0;
            display: block;
            color: rgba(0, 0, 0, 0.8);
        }

        .new{
            &::after{
                content: "New!";
                position: absolute;
                color: red;
                margin-left: 10px;
            }
        }

    }

}

.embedding{
    width: 55%;
    height: 400px;
    margin: 0 auto;

    iframe{
        width: 100%;
        height: 100%;
        border: none;
        box-shadow: 0 0 10px black;
        border-radius: 10px;
    }

}

.blank{
    width: 100%;
    height: 6%;
}

footer{
    width: 100%;
    height: fit-content;
    padding: 20px;
    background: rgb(50, 50, 50);

    .copyright{
        font-size: 15px;
        color: white;
    }
    
    .inquiry{
        font-size: 18px;
        width: fit-content;
        height: fit-content;
        padding-top: 10px;
        margin: 10px 0;

        a{
            width: fit-content;
            padding: 10px;
            background: #0d6efd;
            border-radius: 5px;
            color: white;
            text-decoration: none;

            &:hover{
                filter: brightness(110%);
            }

        }

    }
    
}

@media screen and (max-width: 768px) {

    .recommendation{
        padding: 10px;
        border-radius: 10px;

        .p{
            font-size: 20px;
        }

        .link{
            font-size: 17px;
            margin: 5px 0;
        }

        hr{
            height: 1px;
        }

    }

    .blank{
        width: 100%;
        height: 4%;
    }

    header{
        height: 40px;

        div{

            .logo{
                height: 30px;
            }

            nav{

                p{
                    font-size: 17px;
                    padding: 0 10px;
                    line-height: 40px;
                }
        
            }

        }

    }

    footer{
        padding: 10px;

        .copyright{
            font-size: 13px;
        }

        .inquiry{
            font-size: 15px;

            a{
                padding: 8px;
                border-radius: 5px;
            }

        }

    }

}

@media screen and (max-width: 460px) {

    .recommendation{

        .p{
            font-size: 15px;
        }

        .link{
            font-size: 13px;
            margin: 2px 0;
        }

        hr{
            height: 1px;
            margin: 5px 0;
        }

    }

    header{

        div{

            .blank{
                width: 0%;
            }

            nav{

                p{
                    font-size: 13px;
                    padding: 0 5px;
                }
        
            }

        }

    }

}

@media screen and (max-width: 350px) {

    .recommendation{

        .p{
            font-size: 13px;
        }

        .link{
            font-size: 10px;
            margin: 2px 0;
        }

        hr{
            height: 1px;
            margin: 3px 0;
        }

    }

    .blank{
        width: 100%;
        height: 3%;
    }

    header{

        div{

            .blank{
                width: 0%;
            }

            .logo{
                width: 100px;
            }

            nav{

                p{
                    font-size: 10px;
                }
        
            }

        }

    }

}